{% extends 'base.html' %}
{% load static %}
{% block titulo %}
consulta pacientes
{% endblock titulo %}

{% block cuerpo %}
{% load crispy_forms_tags %}
<div class="col-12 col-md-12 col-lg-8" id="divPacientes">
    {% include 'paciente/recursos/modalnuevapaciente.html' %}
    <div class="card">
        <div class="card-body">
            <!-- menu nuevo dato de la card -->
            {% include 'paciente/recursos/menucard.html' %}
            <!-- menu nuevo dato de la card -->
            <!-- div del paciente  -->
            {% include 'paciente/recursos/cuerpotabla.html' %}
            <!-- div del paciente  -->
        </div>
    </div>
</div>


{% endblock cuerpo %}

{% block scriptss %}
<script>
    function nuevoPaciente() {
        $('#id_nombre').focus();
        $('#modalNuevoPaciente').modal('toggle');

    }
    function guardaNuevoPaciente() {
        var action = document.getElementById('formhola').action;
        fetch(`${action}`, {
            method: 'POST',
            body: new FormData(formhola),
        }).then(response => response.json()).then(response => {
            if (response.tipo === "success") {
                document.getElementById('formhola').reset();
                $('#modalNuevoPaciente').modal('hide')
                Swal.fire({
                    icon: 'success',
                    title: 'Registrado correctamente',
                    showConfirmButton: false,
                    timer: 1500
                })
                return false;
            }
          /*
            else if(response.success == false){
                var example_form = document.getElementById('formhola');
                $(example_form).find('.error-message').show()
            }
          */
        })

    }

    function pedir() {
        fetch('http://127.0.0.1:8000/paciente/editar/41').then(response => response.text()).then(response => {
            foms.innerHTML = `
            <form action="{% url 'nuevopaciente' %}" method="post">
                <h1 class="text-center">Formulario de registro</h1>
                {% csrf_token %}
                {{form}}
                 <button type="submit" class="btn btn-success">Insertar </button>
             </form>
            `;
        })
    }
</script>
{% endblock scriptss %}