{% extends 'base.html' %}

{% load static %}
{% block titulo %}
consulta
{% endblock titulo %}
{% block cabeza %}
{% include 'paciente/menu.html' %}
{% endblock cabeza %}
{% block cuerpo %}
{% load crispy_forms_tags %}
<div class="col-12 col-md-4" id="divFichaPaciente">

    <!-- paciente cabecera -->
    {% include 'paciente/recursos/modalTipoSangre.html' %}
    {% include 'paciente/recursos/cabecerapaciente.html' %}
    <!-- paciente cabecera -->
    <div class="accordion md-accordion" id="tableroFichaIdentificacion" role="tablist" aria-multiselectable="true">
        <!-- form datos generales paciente -->
        {% include 'paciente/recursos/formdatogenerales.html' %}
        <!-- form datos generales paciente -->

        <!-- Cuerpo Experiencia paciene  -->
        <div class="card">
            {% include 'paciente/recursos/formpreferencia.html' %}
        </div>
        <!-- Cuerpo Experiencia paciene  -->
        {% include 'paciente/recursos/notapaciente.html' %}
    </div>
</div>
<div class="col-12 col-md-8" id="divDetallePaciente">
    <div class="accordion md-accordion" id="tableroDetallePacientes" role="tablist" aria-multiselectable="true">
        <!-- forms historial medico-->

        <div class="card mt-0">
            <div class="card-header" role="tab" id="tabHistoria">
                <a data-toggle="collapse" data-parent="#tableroDetallePacientes" href="#tableroHistoria"
                    aria-expanded="false" aria-controls="tableroHistoria" class="collapsed">
                    <h5 class="mb-0 h6 text-muted text-left">

                        <img src="{% static 'img/' %}ico/historiaClinica.png" height="16px;"> Historia
                        Clínica
                    </h5>
                </a>
            </div>
            <div id="tableroHistoria" class="collapse" role="tabpanel" aria-labelledby="tabFicha"
                data-parent="#tableroDetallePacientes">
                <div class="card-body">
                    <div id="divTableroHistoria">
                        <div id="resHistoria" style="display: none;"></div>
                        <div class="row">
                            <!-- form heredo familiares  -->
                            {% include 'paciente/recursos/formheredofamiliares.html' %}
                            <!-- form heredo familiares  -->

                            <!-- form antecentes patologicos -->
                            {% include 'paciente/recursos/formpatologicos.html' %}
                            <!-- form antecentes patologicos -->

                            <!-- Forms antecedente no patologico  -->
                            {% include 'paciente/recursos/formnopatologico.html' %}
                            <!-- Forms antecedente no patologico  -->
                            <!-- Forms antecedente Habitos alimenticios  -->
                            {% include 'paciente/recursos/formhabitosalim.html' %}
                            <!-- Forms antecedente Habitos alimenticios  -->


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- forms historial medico-->
        {% include 'paciente/recursos/formexploracion.html' %}
        <!-- form exploracion -->


    </div>
</div>
{% block scriptss %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {

    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    function modificaSangre() {
        $('#mGoogle').html('Tipo de Sangre');
        $('#modalGoogle').modal('toggle');
        /*
        $.ajax({
          type: "POST",
          url: 'cambiaSangre.php',
          data: {
            id: '6898'
          }
        }).done(function (msg) {
          $('#modalGoogleBody').html(msg);

        });
        */
    }
</script>
<script>
    function setSexo() {
        let imgm = document.querySelector('#id_tipo_sexo_2'),
            imgf = document.querySelector('#id_tipo_sexo_3'),
            imgi = document.querySelector('#id_tipo_sexo_4');
        if (document.getElementById("id_tipo_sexo_2").checked) {
            imgm.src = `{% static 'img/' %}ficha/hombre.svg`;
            imgf.src = `{% static 'img/' %}ficha/mujerDes.svg`;
            imgi.src = `{% static 'img/' %}ficha/indefinidoDes.svg`;
            //StyleSheet
        } else if (document.getElementById("id_tipo_sexo_3").checked) {
            imgf.src = `{% static 'img/' %}ficha/mujer.svg`;
            imgm.src = `{% static 'img/' %}ficha/hombreDes.svg`;
            imgi.src = `{% static 'img/' %}ficha/indefinidoDes.svg`;
            //StyleSheet
        } else if (document.getElementById("id_tipo_sexo_").checked) {
            imgi.src = `{% static 'img/' %}ficha/indefinido.svg`;
            imgm.src = `{% static 'img/' %}ficha/hombreDes.svg`;
            imgf.src = `{% static 'img/' %}ficha/mujerDes.svg`;
            //StyleSheet
        }
    }

    function guardarnotas() {
        var action = document.getElementById('formnotas').action;
        fetch(`${action}`, {
            method: 'POST',
            body: new FormData(formnotas),
        }).then(response => response.json()).then(response => {
           /*  if (response.tipo === "success") {
                Swal.fire({
                    icon: 'success',
                    title: 'Registrado correctamente',
                    showConfirmButton: false,
                    timer: 1500
                })
                return false;
            };

            */
        })
    }

    function guardarprefe() {
        var action = document.getElementById('formpreferencia').action;
        fetch(`${action}`, {
            method: 'POST',
            body: new FormData(formpreferencia),
        }).then(response => response.json()).then(response => {
            /*
 if (response.tipo === "success") {
                Swal.fire({
                    icon: 'success',
                    title: 'Registrado correctamente',
                    showConfirmButton: false,
                    timer: 1500
                })
                return false;
            };
          
            */
        })
    }

    function guardardatosgenerales() {
        var action = document.getElementById('formdatosgenerales').action;
        fetch(`${action}`, {
            method: 'POST',
            body: new FormData(formdatosgenerales),
        }).then(response => response.json()).then(response => {

            /*  if (response.tipo === "success") {
                  Swal.fire({
                      icon: 'success',
                      title: 'Registrado correctamente',
                      showConfirmButton: false,
                      timer: 1500
                  })
                  return false;
              }; */

        })

    }

    function guardarSangre() {

        var action = document.getElementById('formsangre').action;
        fetch(`${action}`, {
            method: 'POST',
            body: new FormData(formsangre),
        }).then(response => response.json()).then(response => {
            /* if (response.tipo === "success") {
                 Swal.fire({
                     icon: 'success',
                     title: 'Registrado correctamente',
                     showConfirmButton: false,
                     timer: 1500
                 })
                 return false;
             };  */

        })

    }

    function guardarSexo() {

        var action = document.getElementById('formsexo').action;
        fetch(`${action}`, {
            method: 'POST',
            body: new FormData(formsexo),
        }).then(response => response.json()).then(response => {
            /* if (response.tipo === "success") {
                Swal.fire({
                    icon: 'success',
                    title: 'Registrado correctamente',
                    showConfirmButton: false,
                    timer: 1500
                })
                return false;
            };
   
          */
        })

    }

    function guardarheredofamiliar() {
        var action = document.getElementById('formheredo').action;
        fetch(`${action}`, {
            method: 'POST',
            body: new FormData(formheredo),
        }).then(response => response.json()).then(response => {
            /*
            if (response.tipo === "success") {
                Swal.fire({
                    icon: 'success',
                    title: 'Registrado correctamente',
                    showConfirmButton: false,
                    timer: 1500
                })
                return false;
            };
             */
        })

    }

    function guardarAntecetentePatologico() {
        var action = document.getElementById('formpatologicos').action;
        fetch(`${action}`, {
            method: 'POST',
            body: new FormData(formpatologicos),
        }).then(response => response.json()).then(response => {

            /*  if (response.tipo === "success") {
                Swal.fire({
                    icon: 'success',
                    title: 'Registrado correctamente',
                    showConfirmButton: false,
                    timer: 1500
                })
                return false;
            };*/

        })
    }

    function guardarNoPatologico() {
        var action = document.getElementById('formnopatologico').action;
        fetch(`${action}`, {
            method: 'POST',
            body: new FormData(formnopatologico),
        }).then(response => response.json()).then(response => {
            /*
                        if (response.tipo === "success") {
                            Swal.fire({
                                icon: 'success',
                                title: 'Registrado No Patologivo ',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            return false;
                        };
                         */
        })
    }

    function guardarHabitosAlimenticios() {


        var action = document.getElementById('formhalimenticio').action;
        fetch(`${action}`, {
            method: 'POST',
            body: new FormData(formhalimenticio),
        }).then(response => response.json()).then(response => {
            /*  if (response.tipo === "success") {
                Swal.fire({
                    icon: 'success',
                    title: 'Registrado No Patologivo ',
                    showConfirmButton: false,
                    timer: 1500
                })
                return false;
            };    */

        })


    }

    function guardarExploracion() {

        var action = document.getElementById('formexploracion').action;
        fetch(`${action}`, {
            method: 'POST',
            body: new FormData(formexploracion),
        }).then(response => response.json()).then(response => {
            /*  if (response.tipo === "success") {
                Swal.fire({
                    icon: 'success',
                    title: 'Registrado Exploracion ',
                    showConfirmButton: false,
                    timer: 1500
                })
                return false;
            };

         */
        })

    }

    function eliminardatosgenerales() {
        Swal.fire({
            title: '¡Alerta!',
            text: "¿Desea confirmar la eliminación definitiva el paciente?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Confirmar Elimina'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: 'success',
                    title: 'Datos eliminados',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })
    }
</script>
{% endblock scriptss %}

{% endblock cuerpo %}