<div class="col-12">
    <form action="" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-success">Insertar </button>
    </form>
</div>
<h1>formgeneral</h1>
<div class="col-12">

    {{formgeneral}}
</div>
<h1>formpref</h1>
<div class="col-12">

    {{formpref}}
</div>
<h1>formnota</h1>
<div class="col-12">
    {{formnota}}
</div>
<h1>formpersonal</h1>
<div class="col-12">
    {{formpersonal}}
</div>
<h1>formfamiliar</h1>
<div class="col-12">
    {{formfamiliar}}
</div>
<h1>formpatologico</h1>
<div class="col-12">
    {{formpatologico}}
</div>
<h1>formalimenticio</h1>
<div class="col-12">
    {{formalimenticio}}
</div>