<div class="col-12 col-md-12 mt-2">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h6 class="h6 text-muted text-center">Antecedentes
                        Heredo Familiares <a href="../reportes/historia.php?v=7148" target="_blank"><i
                                class="fas fa-print ml-2 text-muted"></i></a>
                    </h6>
                </div>
                <div class="col-12">
                    <div id="heredoFamiliares">
                        <form id="formheredo" action="{% url 'editarheredofamiliar' pacientes.propietario.id %}"
                            method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Hermanos</small>
                                    {{formfamiliar.hermanos}}
                                    <!-- 'data-toggle':'tooltip','data-placement':'left', 'title':'', 'data-original-title':'No. Hermanos' -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Diabetes</small>
                                    {{formfamiliar.diabetes}}
                                    <!-- 'data-toggle':'tooltip','data-placement':'left', 'title':'', 'data-original-title':'Diabetes' -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Hip. Arterial</small>
                                    {{formfamiliar.hip_arterial}}
                                    <!-- 'data-toggle':'tooltip','data-placement':'left', 'title':'', 'data-original-title':'Hipertensión Arterial' -->
                         
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Cardiopatías</small>
                                    {{formfamiliar.cardiopatias}}
                                    <!-- 'data-toggle':'tooltip','data-placement':'left', 'title':'', 'data-original-title':'Cardiopatías' -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Hepatopatías</small>
                                    {{formfamiliar.hepatopatias}}
                                    <!-- 'data-toggle':'tooltip','data-placement':'left', 'title':'', 'data-original-title':'Hepatopatías' -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Urológicos</small>
                                    {{formfamiliar.urologicos}}
                                    <!-- 'data-toggle':'tooltip','data-placement':'left', 'title':'', 'data-original-title':'Urológicos' -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Neurológicas</small>
                                    {{formfamiliar.neurologicos}}
                                    <!-- 'data-toggle':'tooltip','data-placement':'left', 'title':'', 'data-original-title':'Neurológicas' -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Respiratorias</small>
                                    {{formfamiliar.respiratorios}}
                                    <!-- 'data-toggle':'tooltip','data-placement':'left', 'title':'', 'data-original-title':'Respiratorias' -->
                                    <!-- 'data-toggle':'tooltip','data-placement':'left', 'title':'', 'data-original-title':'Neurológicas' -->
                                   
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Cancer</small>
                                    {{formfamiliar.cancer}}
                                    <!-- <input type="text" placeholder="" id="hf_cancer" value=""
                                    class="form-control form-control-sm text-center"
                                    onblur="guardacampoConsulta('historia','hf_cancer','hf_cancer','idhistoria','4350','resHistoria','6866');"
                                    data-toggle="tooltip" data-placement="left" title="" data-original-title="Cancer"> -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Alérgicas</small>
                                    {{formfamiliar.alergias}}
                                    <!-- <input type="text" placeholder="" id="hf_alergicas" value=""
                                    class="form-control form-control-sm text-center"
                                    onblur="guardacampoConsulta('historia','hf_alergicas','hf_alergicas','idhistoria','4350','resHistoria','6866');"
                                    data-toggle="tooltip" data-placement="left" title=""
                                    data-original-title="Alérgicas"> -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Metabólicas</small>
                                    {{formfamiliar.metabolicas}}
                                    <!-- <input type="text" placeholder="" id="hf_metabolicas" value=""
                                    class="form-control form-control-sm text-center"
                                    onblur="guardacampoConsulta('historia','hf_metabolicas','hf_metabolicas','idhistoria','4350','resHistoria','6866');"
                                    data-toggle="tooltip" data-placement="left" title=""
                                    data-original-title="Metabólicas"> -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Sanguíneas</small>
                                    {{formfamiliar.sanguineas}}
                                    <!-- <input type="text" placeholder="" id="hf_sanguineas" value=""
                                    class="form-control form-control-sm text-center"
                                    onblur="guardacampoConsulta('historia','hf_sanguineas','hf_sanguineas','idhistoria','4350','resHistoria','6866');"
                                    data-toggle="tooltip" data-placement="left" title=""
                                    data-original-title="Sanguíneas"> -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Articulares</small>
                                    {{formfamiliar.articulares}}
                                    <!-- <input type="text" placeholder="" id="hf_articulares" value=""
                                    class="form-control form-control-sm text-center"
                                    onblur="guardacampoConsulta('historia','hf_articulares','hf_articulares','idhistoria','4350','resHistoria','6866');"
                                    data-toggle="tooltip" data-placement="left" title=""
                                    data-original-title="Articulares"> -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Inmunológicas</small>
                                    {{formfamiliar.inmunologicas}}
                                    <!-- <input type="text" placeholder="" id="hf_inmunologicas" value=""
                                    class="form-control form-control-sm text-center"
                                    onblur="guardacampoConsulta('historia','hf_inmunologicas','hf_inmunologicas','idhistoria','4350','resHistoria','6866');"
                                    data-toggle="tooltip" data-placement="left" title=""
                                    data-original-title="Inmunológicas"> -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Malformaciones</small>
                                    {{formfamiliar.malformaciones}}
                                    <!-- <input type="text" placeholder="" id="hf_malformaciones" value=""
                                    class="form-control form-control-sm text-center"
                                    onblur="guardacampoConsulta('historia','hf_malformaciones','hf_malformaciones','idhistoria','4350','resHistoria','6866');"
                                    data-toggle="tooltip" data-placement="left" title=""
                                    data-original-title="Malformaciones"> -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Dermatológicas</small>
                                    {{formfamiliar.dermatologicas}}
                                    <!-- <input type="text" placeholder="" id="hf_dermatologicos" value=""
                                    class="form-control form-control-sm text-center"
                                    onblur="guardacampoConsulta('historia','hf_dermatologicos','hf_dermatologicos','idhistoria','4350','resHistoria','6866');"
                                    data-toggle="tooltip" data-placement="left" title=""
                                    data-original-title="Dermatológicas"> -->
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Otros</small>
                                    {{formfamiliar.otros}}
                                    <!-- <input type="text" placeholder="" id="hf_otros" value=""
                                    class="form-control form-control-sm text-center"
                                    onblur="guardacampoConsulta('historia','hf_otros','hf_otros','idhistoria','4350','resHistoria','6866');"
                                    data-toggle="tooltip" data-placement="left" title="" data-original-title="Otros"> -->
                                </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>