<div class="col-12 col-md-12 mt-2">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h6 class="h6 text-muted text-center">Antecedentes
                        Personales Patológicos</h6>
                </div>
                <div class="col-12">
                    <div id="patologicos">
                        <form id="formpatologicos" action="{% url 'editarpatologicos' paciente.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Enf. Prop. Infancia</small>
                                    {{formpatologico.enf_infancia}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Diabetes</small>
                                    {{formpatologico.diabetes}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Hipertensión</small>
                                    {{formpatologico.hip_arterial}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Respiratorias</small>
                                    {{formpatologico.respiratorias}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Oftálmico</small>
                                    {{formpatologico.oftalmico}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Cardiovasculares</small>
                                    {{formpatologico.cardeovasculares}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Neurológicos</small>
                                    {{formpatologico.neurologicos}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Gastro Intestinales</small>
                                    {{formpatologico.gastro_intestinal}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Hepatopatías</small>
                                    {{formpatologico.hepaticas}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Metabólicas</small>
                                    {{formpatologico.metabolicas}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Urológicos</small>
                                    {{formpatologico.urologicos}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Circulatorio</small>
                                    {{formpatologico.circulatorio}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Traumáticas</small>
                                    {{formpatologico.traumaticas}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Articulares</small>
                                    {{formpatologico.articulares}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Dermatológicas</small>
                                    {{formpatologico.dermatologicas}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Quirúrgicos</small>
                                    {{formpatologico.quirurgicas}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Transfusionales</small>
                                    {{formpatologico.transfusionales}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Alergias</small>
                                    {{formpatologico.alergias}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Vectores</small>
                                    {{formpatologico.vectores}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Autoinmunes</small>
                                    {{formpatologico.autoimunes}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Emocionales</small>
                                    {{formpatologico.emocionales}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Adicciones</small>
                                    {{formpatologico.adicciones}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Hosp. Previas</small>
                                    {{formpatologico.hosp_previas}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Pesticidas</small>
                                    {{formpatologico.pesticidas}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Dx.Ca</small>
                                    {{formpatologico.dx_ca}}
                                </div>

                                <div class="col-6 col-lg-2 col-md-3 mt-1 text-center">
                                    <small>Otros</small>
                                    {{formpatologico.otros}}
                                </div>


                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>