{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="{% static 'img/' %}fav/apple-icon-180x180.png">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Maily {% block titulo %} {% endblock titulo %}</title>
    <link rel="icon" href="{% static 'img/' %}fav.svg" type="image/x-icon">
    <link rel="manifest" href="{% static 'img/' %}fav/manifest.json">
    <meta name="msapplication-TileColor" content="#0EADE1">
    <meta name="msapplication-TileImage" content="{% static 'img/' %}fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#0EADE1">
    <link rel="stylesheet" href="{% static 'fontawesome/' %}css/all.css">
    <link href="{% static 'css/' %}bootstrap.css" rel="stylesheet">
    <link href="{% static 'css/' %}mdb.css" rel="stylesheet">
    <link href="{% static 'css/' %}style.css?id=13" rel="stylesheet">
    <script src="{% static 'js/' %}datos/guardaDatos.js"></script>
    <link rel="stylesheet" href="{% static 'css/' %}stileheder.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body class="mdb-color lighten-1" cz-shortcut-listen="true">
    
    {% block cabeza %}
        
    {% endblock cabeza %}
        
    <main>
        <div class="container-fluid">
            <div class="row">
                {% block cuerpo %}

                {% endblock cuerpo %}
            </div>
        </div>

    </main>
    {% block scriptss %}

    {% endblock scriptss %}
    <script type="text/javascript" src="{% static 'js/' %}jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/' %}popper.min.js"></script>
    <script type="text/javascript" src="{% static 'js/' %}bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/' %}mdb.min.js"></script>

</body>

</html>