<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <!-- Navbar -->
        {% include 'menu.html' %}
        <!-- /.navbar -->


        {% block cuerpo %}

        {% endblock cuerpo %}


        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-<span id="anoactual"></span> <a href="">Maily</a>.</strong> All rights
            reserved.
        </footer>
    </div>