<div class="col-12 col-md-6">
    {% if paciente.domicilio != none %}
    <p>
        <i class="fas fa-house-user "></i>
        {{paciente.domicilio}} </p>
    {% endif %}
</div>
<div class="col-12 col-md-6">
    <!-- Acapulco Guerrero <br> -->
    {% if paciente.propietario.email != none %}
    <div class="mt-2">
        <a href="mailto:{{paciente.propietario.email}}">
            <i class="far fa-envelope"></i>
            {{paciente.propietario.email}} </a>
    </div>
    {% endif %}
</div>
<div class="col-12 col-md-6">
  <div class="mt-2">
    {% if paciente.celular != none %}
    <a href="tel:+52{{paciente.celular}}">
        <i class="fas fa-phone-volume"></i>
        {{paciente.celular}} </a>
    {% endif %}
    <br>
    {% if paciente.telefono != none %}
    <a href="tel:+52{{paciente.telefono}}">
        <i class="fas fa-phone-volume"></i>
        {{paciente.telefono}} </a>
    {% endif %}
  </div>
</div>
<!-- <tr>
    <td style="padding-left: 0; padding-right: 0;padding-top: 4px; padding-bottom: 1px;">
        <a href="{% url 'editarpaciente' paciente.propietario.id %}" target="_self">
            {% if paciente.propietario.foto == "" %}
            <i class="fas fa-image text-muted fa-4x"></i>
            {% else %}
            <img src="{{paciente.propietario.foto.url}}" alt="" class="img-fluid z-depth-1 rounded">
            {% endif %}
        </a>
    </td>

    <td style="font-size: 13px;">
        <div class="row">
            <div class="col-12 col-md-4" style="cursor: pointer;">
                {{paciente.propietario.nombre}} {{paciente.propietario.apellido}}
                <br>
                {% if paciente.propietario.telefono != none %}
                <a href="https://api.whatsapp.com/send?phone=+52{{paciente.propietario.telefono}}&amp;text=Hola, Obed, te contactamos de Clínica Cambrón"
                    target="_blank">
                    <i class="fab fa-whatsapp"></i>&nbsp;
                    {{paciente.propietario.telefono}} </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-8">
                {% if paciente.domicilio != none %}
                <i class="fas fa-house-user "></i>
                {{paciente.domicilio}}
                {% endif %} <br>
                {% if paciente.propietario.email != none %}
                <a href="mailto:{{paciente.email}} ">
                    <i class="far fa-envelope"></i>
                    {{paciente.propietario.email}} </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-4">
                {% if paciente.telefono != none %}
                <a href="tel:+52{{paciente.telefono}}">
                    <i class="fas fa-phone-volume"></i>
                    {{paciente.telefono}} </a>
                {% endif %}
            </div>
        </div>

    </td> -->
    <!-- <td style="font-size: 13px;">
        <div class="row">
            <div class="col-12 col-md-6">
                "citadia" </div>
            <div class="col-12 col-md-6">
                "citahota"</div>
        </div>
    </td> -->

<!-- </tr> -->